<h1> Book Revivews </h1>

<% @reviews.each do |review| %>

  <li>
    <%= review.book.name%> <br> Rating: <%= review.rating%> - <%= link_to "Learn More", review_path(review)%> 
  </li> 
  <br>

<% end %>
</ul>